* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: rgb(251, 244, 233);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header__logo {
    width: 80px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8vw;
}

.header__nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.4vw;
    transition: color 0.3s;
}

.header__nav a:hover {
    color: rgb(243, 86, 56);
}





@media (max-width: 1512px){
    .header__logo {
        width: 70px;
    }
}

@media (max-width: 1024px){
    .header__logo {
        width: 50px;
    }
}

@media (max-width: 650px){
    .header__nav {
        gap: 4vw;
    }
    .header__nav a {
        font-size: 2vw;
    }
}

@media (max-width: 320px){
    .header__logo {
        width: 30px;
    }
}