* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.block-1 {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../img/bg-1.png") no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.block-1__bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.block-1__content {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    max-width: 100%;
}

.block-1__logo {
    width: 14vw;
    height: auto;
    margin-bottom: 25px;
}

.block-1__title {
    font-size: 4vw;
    font-weight: bold;
}

.block-1__subtitle {
    font-size: 1.1vw;
    font-weight: 300;
    max-width: 20vw;
    margin: 26px auto 70px;
    line-height: 1.4;
}

.block-1__btn {
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 1.4vw 12vw;
    font-size: 1.2vw;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.block-1__btn:hover {
    color: rgb(243, 86, 56);
    border-color: rgb(243, 86, 56);
}

.block-1__arrow {
    display: block;
    margin: 32px auto 48px;
    width: 5vw;
    position: relative;
    z-index: 3;
}





.header {
    position: sticky;
    top: 0;
    background-color: rgb(251, 244, 233);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header__logo {
    width: 80px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8vw;
}

.header__nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.4vw;
    transition: color 0.3s;
}

.header__nav a:hover {
    color: rgb(243, 86, 56);
}





.block-2 {
    background-color: rgb(243, 86, 56);
    padding: 50px 0;
    min-height: 22vh;
    text-align: center;
}

.block-2__title {
    font-size: 2.4vw;
    color: white;
    margin-bottom: 50px;
}

.block-2__container {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.block-2__box {
    max-width: 450px;
    max-height: 450px;
    border: 2px solid white;
    padding: 1.4vw;
}

.block-2__image {
    max-width: 450px;
    object-fit: cover;
    width: 20vw;
    height: auto;
}





.block-3 {
    background-color: rgb(254, 246, 234);
    padding: 50px 0;
    text-align: center;
}

.block-3__title {
    font-size: 2.4vw;
    margin-bottom: 50px;
}

.block-3__container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 0 20px;
    max-width: 1700px;
    margin: 0 auto;
}

.block-3__item {
    background-color: transparent;
    border: 2px solid black;
    width: 325px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-3__image {
    height: auto;
    object-fit: contain;
    padding: 25px 25px 0;
    max-width: 100%;
    max-height: 400px;
}

.block-3__name {
    font-family: 'Halant', serif;
    font-size: 1.2vw;
    margin: 30px 25px 20px;
    font-weight: normal;
    line-height: 1.6;
}

.block-3__price {
    font-family: 'Halant', serif;
    font-weight: bold;
    font-size: 1.5vw;
    margin: 0 25px 30px;
}

.block-3__buttons {
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    width: 100%;
}

.block-3__btn {
    font-family: 'Hammersmith One', sans-serif;
    background-color: transparent;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.block-3__btn--cart {
    background-color: rgb(243, 86, 56);
    color: white;
    border: 2px solid rgb(243, 86, 56);
    padding: 20px 20px;
}

.block-3__btn--details:hover {
    background-color: rgb(36, 49, 102);
    color: white;
}

.block-3__btn--cart:hover {
    background-color: rgb(36, 49, 102);
    border-color: rgb(36, 49, 102);
}





.block-4 {
    background-color: white;
    padding: 60px 0;
    text-align: center;
}

.block-4__container {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block-4__title {
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 50px;
}

.block-4__text {
    font-size: 1.4vw;
    max-width: 900px;
    margin: 0 auto 70px;
    line-height: 1.6;
}

.block-4__btn {
    font-family: 'Hammersmith One', sans-serif;
    background-color: rgb(243, 86, 56);
    color: white;
    border: 2px solid rgb(243, 86, 56);
    padding: 15px 100px;
    font-size: 1.2vw;
    font-weight: 200;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.block-4__btn:hover {
    background-color: rgb(36, 49, 102);
    border-color: rgb(36, 49, 102);
}





.mini-block {
    background-color: #58BA8C;
    padding: 25px 0;
    text-align: center;
}

.mini-block__container {
    max-width: 50vw;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.mini-block__text {
    font-size: 0.9vw;
    color: black;
    margin: 0;
    flex: 1;
    text-align: left;
}

.mini-block__btn {
    font-family: 'Hammersmith One', sans-serif;
    color: black;
    background-color: white;
    border: 2px solid white;
    padding: 20px 35px;
    font-size: 0.8vw;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;  
}

.mini-block__btn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: rgb(0, 0, 0);
}





@media (max-width: 1512px){
    .header__logo {
        width: 70px;
    }
    .block-1__arrow {
        margin: 32px auto 52px;
    }
    .block-3__container {
        max-width: 1400px;
    }
    .block-3__image {
        padding: 20px 20px 0;
        max-height: 300px;
    }
    .block-3__name {
        font-size: 1.3vw;
        margin: 25px 20px 10px;
    }
    .block-3__price {
        font-size: 1.5vw;
        margin: 0 20px 20px;
    }
    .block-3__buttons {
        font-size: 1.1vw;
    }
    .block-3__btn {
        padding: 15px 20px;
    }
    .block-4__text {
        max-width: 720px;
    }
    .block-4__btn {
        padding: 15px 90px;
    }
    .mini-block__container {
        max-width: 55vw;
        gap: 60px;
        }
}

@media (max-width: 1024px){
    .block-1__subtitle {
        margin: 26px auto 34px;
    }
    .block-1__arrow {
        margin: 32px auto 25px;
    }
    .header__logo {
        width: 50px;
    }
    .block-2 {
        padding: 40px 0;
    }
    .block-2__title {
        font-size: 2.5vw;
        margin-bottom: 40px;
    }
    .block-3 {
        padding: 40px 0;
    }
    .block-3__container {
        gap: 35px;
    }
    .block-3__title {
        font-size: 2.5vw;
        margin-bottom: 40px;
    }
    .block-3__image {
        padding: 15px 15px 0;
    }
    .block-3__name {
        font-size: 1.2vw;
        margin: 20px 15px 10px;
    }
    .block-3__price {
        font-size: 1.5vw;
        margin: 0 15px 15px;
    }
    .block-3__btn {
        border-top: 1.5px solid black;
        border-bottom: 1.5px solid black;
        padding: 10px 20px;
    }
    .block-3__btn--cart {
        border: 1.5px solid rgb(243, 86, 56);
        padding: 10px 20px;
    }
    .block-4 {
        padding: 50px 0;
    }
    .block-4__title {
        font-size: 2.8vw;
        margin-bottom: 30px;
    }
    .block-4__text {
        font-size: 1.4vw;
        max-width: 480px;
        margin: 0 auto 35px;
    }
    .block-4__btn {
        padding: 10px 60px;
    }
    .mini-block {
        padding: 15px 0;
    }
    .mini-block__container {
        max-width: 65vw;
        gap: 60px;
    }
    .mini-block__text {
        font-size: 1.1vw;
    }
    .mini-block__btn {
        padding: 15px 30px;
        font-size: 1vw;
    }
}

@media (min-width: 651px) {
    .block-3__item {
        width: calc(25% - 50px);
    }
}

@media (max-width: 650px){
    .block-1__logo {
        width: 26vw;
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .block-1__title {
        font-size: 6vw;
    }
    .block-1__subtitle {
        max-width: 34vw;
        margin: 18px auto 30px;
        font-size: 1.9vw;
    }
    .block-1__btn {
        padding: 3vw 22vw;
        font-size: 2.2vw;
    }
    .block-1__arrow {
        margin: 32px auto 25px;
        width: 9vw;
    }
    .header__nav {
        gap: 4vw;
    }
    .header__nav a {
        font-size: 2vw;
    }
    .block-2 {
        padding: 40px 0;
    }
    .block-2__title {
        font-size: 4vw;
    }
    .block-2__container {
        flex-direction: column;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .block-2__box {
        padding: 4vw;
    }
    .block-2__image {
        width: 50vw;
        height: auto;
    }
    .block-3 {
        padding: 40px 0;
    }
    .block-3__item {
        width: calc(50% - 50px);
    }
    .block-3__title {
        font-size: 3.8vw;
        font-weight: 600;
        margin-bottom: 40px;
    }
    .block-3__name {
        font-size: 2.5vw;
        margin: 20px 15px 10px;
    }
    .block-3__price {
        font-size: 3.2vw;
        margin: 0 15px 15px;
    }
    .block-3__buttons {
        font-size: 2vw;
    }
    .block-3__btn {
        border-top: 1.5px solid black;
        border-bottom: 1.5px solid black;
        padding: 10px 20px;
    }
    .block-3__btn--cart {
        border: 1.5px solid rgb(243, 86, 56);
        padding: 10px 20px;
    }
    .block-4 {
        padding: 40px 0;
    }
    .block-4__title {
        font-size: 5.4vw;
        margin-bottom: 20px;
    }
    .block-4__text {
        font-size: 3.4vw;
        max-width: 500px;
        margin: 0 auto 35px;
    }
    .block-4__btn {
        font-size: 3.4vw;
        padding: 14px 65px;
    }       
    .mini-block__container {
        max-width: 80vw;
        padding: 0 20px;
        gap: 30px;
    }
    .mini-block__text {
        font-size: 2.5vw;
    }
    .mini-block__btn {
        padding: 15px 30px;
        font-size: 2vw;
    }
}

@media (max-width: 320px){
    .block-1__logo {
        width: 40vw;
        margin-top: 45px;
        margin-bottom: 25px;
    }
    .block-1__title {
        font-size: 8vw;
    }
    .block-1__subtitle {
        max-width: 46vw;
        margin: 12px auto 32px;
        font-size: 2.6vw;
    }
    .block-1__btn {
        padding: 4.5vw 16vw;
        border: 1px solid white;
        font-size: 4vw;
    }
    .block-1__arrow {
        margin: 22px auto 20px;
        width: 12vw;
    }
    .header__logo {
        width: 30px;
    }
    .block-2 {
        padding: 30px 0;
    }
    .block-2__title {
        font-size: 5.5vw;
        margin-bottom: 30px;
    }
    .block-3__image {
        padding: 5px 5px 0;
        border-radius: 15px;
    }
    .block-2__box {
        padding: 6vw;
    }
    .block-2__image {
        width: 60vw;
        height: auto;
    }
    .block-3 {
        padding: 30px 0;
    }
    .block-3__container {
        gap: 20px;
        padding: 0px;
        max-width: 320px;
    }
    .block-3__item {
        width: calc(50% - 40px);
        border: 1px solid black;
    }
    .block-3__title {
        font-size: 4.4vw;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .block-3__name {
        font-size: 2.8vw;
        margin: 10px 5px 5px;
    }
    .block-3__price {
        font-size: 4vw;
        margin: 0 5px 10px;
    }
    .block-3__buttons {
        font-size: 2.4vw;
    }
    .block-3__btn {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 8px 20px;
    }
    .block-3__btn--cart {
        border: 1px solid rgb(243, 86, 56);
        padding: 8px 20px;
    }
    .block-4 {
        padding: 30px 0;
    }
    .block-4__title {
        font-size: 5.8vw;
        margin-bottom: 10px;
    }
    .block-4__text {
        font-size: 3.6vw;
        max-width: 250px;
        margin: 0 auto 15px;
    }
    .block-4__btn {
        font-size: 3.4vw;
        padding: 10px 34px;
    }
    .mini-block {
        padding: 15px 0;
    }
    .mini-block__container {
        max-width: 84vw;
        padding: 0 20px;
        gap: 30px;
    }
    .mini-block__text {
        font-size: 2.7vw;
    }
    .mini-block__btn {
        padding: 10px 20px;
        font-size: 2.5vw;
    }
}