* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: rgb(251, 244, 233);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header__logo {
    width: 80px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8vw;
}

.header__nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.4vw;
    transition: color 0.3s;
}

.header__nav a:hover {
    color: rgb(243, 86, 56);
}





.product-block {
    padding: 10vh 0;
}

.product-block__container {
    display: flex;
    max-width: 1550px;
    margin: 0 6vw;
    padding: 0 40px;
    gap: 90px;
}

.product-block__img {
    width: 100%;
    height: 43vw;
    border-radius: 10px;
}

.product-block__details {
    max-width: 600px;
}

.product-block__title {
    font-family: 'Halant';
    font-size: 2vw;
    font-weight: 550;
    margin-bottom: 20px;
}

.product-block__article {
    font-family: 'Hammersmith One';
    font-size: 0.6vw;
    color: #808080;
    margin-bottom: 30px;
}

.product-block__price {
    font-family: 'Halant';
    font-size: 1.9vw;
    font-weight: 700;
    margin-bottom: 30px;
}

.product-block__description {
    font-size: 0.9vw;
    margin-bottom: 20px;
    line-height: 1.5;
}

.product-block__tracklist {
    font-size: 0.9vw;
    line-height: 1.5;
}

.product-block__btn {
    font-family: 'Hammersmith One';
    color: white;
    background-color: #F35638;
    border: 2px solid #F35638;
    padding: 20px 40px;
    font-size: 1vw;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 10px;
}

.product-block__btn:hover {
    background-color: #243166;
    border-color: #243166;
}





.mini-block {
    background-color: #58BA8C;
    padding: 25px 0;
    text-align: center;
}

.mini-block__container {
    max-width: 50vw;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.mini-block__text {
    font-size: 0.9vw;
    color: black;
    margin: 0;
    flex: 1;
    text-align: left;
}

.mini-block__btn {
    font-family: 'Hammersmith One', sans-serif;
    color: black;
    background-color: white;
    border: 2px solid white;
    padding: 20px 35px;
    font-size: 0.8vw;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.mini-block__btn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: rgb(0, 0, 0);
}

.footer {
    background-color: #262626;
    color: white;
    padding: 40px 0;
}

.footer__container {
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
}

.footer__left {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    max-width: 100%;
    padding-left: 180px;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__logo-img {
    width: 150px;
    margin-bottom: 20px;
}

.footer__copyright {
    font-size: 0.65vw;
    margin: 0;
    max-width: 150px;
    word-wrap: break-word;
}

.footer__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 420px;
    margin-left: 120px;
}

.footer__description-text,
.footer__offline-text {
    font-size: 0.7vw;
    margin: 0;
    line-height: 1.6;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    max-width: 70%;
    text-align: left;
    padding-left: 40px;
}

.footer__offline-text {
    margin-top: 45px;
}

.footer__right {
    flex: 1;
    display: flex;
    gap: 100px;
}

.footer__column {
    flex: 1;
    max-width: 200px;
}

.footer__column-title {
    font-size: 0.8vw;
    margin-bottom: 5px;
    color: white;
}

.footer__line--buyers {
    border: 1px solid white;
    width: 6.3vw;
    margin: 5px 0 20px;
}

.footer__line--company {
    border: 1px solid white;
    width: 5.7vw;
    margin: 5px 0 20px;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__link {
    font-size: 0.8vw;
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.footer__link:hover {
    color: rgb(243, 86, 56);
}

@media (max-width: 1512px) {
    .header__logo {
        width: 70px;
    }
    .mini-block__container {
        max-width: 55vw;
        gap: 60px;
    }
    .footer__container {
        max-width: 1350px;
    }
    .footer__logo-img {
        width: 120px;
    }
    .footer__text {
        width: 420px;
        margin-left: 30px;
    }
    .footer__description-text,
    .footer__offline-text {
        font-size: 0.8vw;
    }
    .footer__right {
        gap: 50px;
    }
    .footer__column-title {
        font-size: 0.9vw;
    }
    .footer__line--buyers {
        width: 7vw;
        margin: 5px 0 18px;
    }
    .footer__line--company {
        width: 6.3vw;
        margin: 5px 0 18px;
    }
    .footer__link {
        font-size: 0.8vw;
        margin-bottom: 18px;
    }
}

@media (max-width: 1024px) {
    .header__logo {
        width: 50px;
    }
    .mini-block {
        padding: 15px 0;
    }
    .mini-block__container {
        max-width: 65vw;
        gap: 60px;
    }
    .mini-block__text {
        font-size: 1.1vw;
    }
    .mini-block__btn {
        padding: 15px 30px;
        font-size: 1vw;
    }
    .footer__container {
        max-width: 850px;
    }
    .footer__logo-img {
        width: 120px;
    }
    .footer__copyright {
        font-size: 0.9vw;
    }
    .footer__left {
        padding-left: 0px;
    }
    .footer__text {
        width: 380px;
        margin-left: 30px;
    }
    .footer__description-text,
    .footer__offline-text {
        font-size: 1vw;
    }
    .footer__line--company {
        width: 6.2vw;
        margin: 5px 0 18px;
    }
}

@media (max-width: 650px) {
    .header__nav {
        gap: 4vw;
    }
    .header__nav a {
        font-size: 2vw;
    }
    .mini-block__container {
        max-width: 80vw;
        padding: 0 20px;
        gap: 30px;
    }
    .mini-block__text {
        font-size: 2.5vw;
    }
    .mini-block__btn {
        padding: 15px 30px;
        font-size: 2vw;
    }
    .footer__text {
        display: none;
    }
    .footer__container {
        max-width: 550px;
    }
    .footer__logo-img {
        width: 120px;
    }
    .footer__copyright {
        font-size: 1.8vw;
    }
    .footer__left {
        max-width: 140px;
    }
    .footer__column-title {
        font-size: 2.8vw;
    }
    .footer__line--company {
        width: 20vw;
        margin: 5px 0 18px;
    }
    .footer__line--buyers {
        width: 22vw;
    }
    .footer__link {
        font-size: 2.4vw;
    }
}

@media (max-width: 320px) {
    .header__logo {
        width: 30px;
    }
    .mini-block {
        padding: 15px 0;
    }
    .mini-block__container {
        max-width: 84vw;
        padding: 0 20px;
        gap: 30px;
    }
    .mini-block__text {
        font-size: 2.7vw;
    }
    .mini-block__btn {
        padding: 10px 20px;
        font-size: 2.5vw;
    }
    .footer__container {
        max-width: 40px;
    }
    .footer__logo-img {
        width: 70px;
        margin-bottom: 5px;
    }
    .footer__copyright {
        font-size: 1.8vw;
    }
    .footer__left {
        max-width: 20px;
    }
    .footer__right {
        max-width: 0px;
        padding-right: 180px;
    }
    .footer__column-title {
        font-size: 2.4vw;
    }
    .footer__line--company {
        width: 20vw;
        margin: 5px 0 18px;
    }
    .footer__line--buyers {
        width: 22vw;
    }
    .footer__link {
        font-size: 2vw;
    }
}